body {
  background-color: #F2F2F2;
  font-size: 1.25rem;
  line-height: 1.5;
}

/*
 *  浏览器滚动条样式
 */

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #eeeeee;
	background-color: #eeeeee;
}

html::-webkit-scrollbar
{
	width: 6px;
	background-color: #eeeeee;
}

html::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.2);
}

.theme-color {
  color:#28d0e9;
}

.container { 
  // max-width: 960px;
  margin: 0 100px
}

.article-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  right 0;
  // bottom 100px
  margin-bottom 102px
  // max-width: 960px;
  margin: 0 100px
  overflow hidden;
}

.main {
  width 75%
  float left
}
.slider-right {
  font-family: "PingFang SC", '微软雅黑', Arial, sans-serif;
  width 25%
  // height 100%
  float right
  position  relative
  .ick-card {
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 2px #c5c5c5;
    box-shadow: 0 1px 2px #c5c5c5;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 0 15px 10px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    border-bottom: 0;
  }
  .ick-blog__desc {
    font-size: 14px
    .label {
      background-color #368ccb
      color #ffffff
      margin: -1px 0 0
      display: inline-block
      padding: 4px 15px
    }
    .ick-blue {
      color #368ccb
      cursor pointer
    }
  }
  .ick-blog__statistics {
    span {
      display inline-block
    }
  }
}

.ick-footer {
  font-family: "PingFang SC", '微软雅黑', Arial, sans-serif;
  // position fixed
  bottom  0
  left 0
  right 0
  height 100px;
  font-size 14px
  text-align center
  display flex
  align-items center
  justify-content center
}

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/paginator";
@import "_partial/rocketToTop";
@import "_partial/_gitment";
@import "_partial/onlinechat";