<footer id="footer" class="ick-footer">
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
  <div class="outer">
    <div id="footer-info">
      <div class="footer-left">
        <i class="fa fa-copyright"></i>
        <span>©</span>
        <% if (theme.since && !isNaN(theme.since) && new Date(theme.since) < new Date()) { %>
        <%- date(new Date(theme.since), 'YYYY')%>-
        <% } %>
        <%= date(new Date(), 'YYYY') %>
        <%= config.title %>
        <span> | <a href="http://hexo.io/"  class="theme-color" target="_blank" title="<%= __('tooltip.Hexo') %>">Hexo</a> 驱动</span>
      </div>

      <span id="busuanzi_container_site_pv">
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
</span>

<span id="busuanzi_container_page_pv">
  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
</span>

<span id="busuanzi_container_site_uv">
  本站访客数<span id="busuanzi_value_site_uv"></span>人次
</span>
      <div class="footer-right">
        主题 <a href="https://github.com/edgardong/hexo-theme-icebreaking" target="_blank"  class="theme-color" title="破冰团队">IceBreaking</a> 由
        Edgar Dong <i class="fa fa-heart animated infinite pulse"></i>免费提供 | 
        <span>鄂ICP备17003441号-1</span>
      </div>
      <span>Hosted by <a href="https://pages.coding.me" style="font-weight:blod;">Coding Pages</a></span>
      <a href="https://icp.aizhan.com/" target="_blank"><img src="https://icp.aizhan.com/geticp/?host=edgarhao.cn&style=img" style="width:126px;height:41px;border:0;" /></a>
    </div>
  </div>
</footer>